@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*,
::before
::after{
    box-sizing: border-box;
}

body {
    margin:0px;
}

header {
    font-family: "Shrikhand", cursive;
    text-align: center;
    box-shadow: 0 0 3px 1px grey;
    padding: 0.3rem;
}