
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Roboto",sans-serif
}

.logo {
    width: 178px;
}

    /*NAV-BAR*/

header {
    text-align: center;
    box-shadow: 0 0 3px 1px grey;
    padding:1.3rem;
    position: relative;
}

main, .ville {
    background-color: #eaeaea;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;  
}

/*SECTION 1*/

.rechercher {
    text-align: center;
    background-color: #fafafa;
    padding: 1px;
    padding-bottom: 61px;
}

.rechercher h2 {
    margin-top: 26px;
    font-size: 22px;
    width: 61%;
    position: relative;
    left: 19.5%;
    font-weight: bold;
}
      
.p1 {
    font-size: 17px;
    color: gray;
    }

.rechercher button {
        color: white;
        font-weight: 300;
        font-size: 20px;
        padding: 18px 23px;
        border: none;
        border-radius: 26px;
        box-shadow: 2px 1px 13px -3px black;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9) );
        margin-top: 20px;
    }
    
.rechercher button:hover{
        opacity: 0.8;
       
    }

    /*SECTION 2*/

.menu {
    position: relative;
    left: 7px;
    }
    
.menu h2 {
    position: relative;
    top: 41px;
    left: 42px;
    margin: 0;    
}
        
ul {
    padding: 42px;
    position: relative;
    right: 10px;
    margin: 0;
    bottom: -7px;
    list-style: none;
}
    
.fa-solid.fa-mobile-screen-button, .fa-solid.fa-list-ul, .fa-solid.fa-store {
    position: relative;
    top: -20px;
    left: -34px;
}
    
.numeros {
    position: relative;
    top: 3px;
    right: 75px;
    color: white;
    background-color: #9356Dc;
    display: flex;
    justify-content: center;
    width: 26px;
    height: 27px;
    align-items: center;
    border-radius: 13px;
}

.p2 {
    position: relative;
    bottom: 55px;
}

li {
    background-color: #f6f6f6;
    padding: 25px;
    width: 95%;
    border-radius: 24px;
    padding-left: 60px;
    margin-top: 19px;
    box-shadow: 4px 4px 17px grey;
    list-style: none;
    height: 33px;
}

    /*ANIMATION-SECTION2-CARD*/

li:hover {
    transform: scale(1.01);
    background-color: rgba(147, 86, 220, 0.1);
}
    
.conteneur:hover .conteneur--logo {
    color: #9356dc;
}

    /*SECTION 3*/

.resto {
    background-color: #f6f6f6;
    height: 1860px;
    }

.resto h2 {
    position: relative;
    left: 22px;
    top: 49px;
}

.container {
    position: relative;
    top: 152px;
    right: 1px;
}

        
.fa-regular.fa-heart.coeur--2, .fa-regular.fa-heart.coeur--3 {
    position: relative;
    left: -2.9%;
}

.fas.fa-heart  {
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition-duration: 0.25s;
    position: relative;
    bottom: 158px;
    left: 95%;
    font-size: 31px;
  }




.fas.fa-heart:hover {
    opacity: 1;
    transition-duration: 0.3s;
}

.fas.fa-heart.coeur--25, .fas.fa-heart.coeur--35{
    position: relative;
    left: 95.1%;
}


.cards {
    background-color: white;
    width: 98%;
    position: relative;
    left: 17px;
    height: 370px;
    border-radius: 15px;
    margin-top: -69px;
}

.gout, .enchante, .francaise, .sens {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    margin: 1px;
    margin-top: 0px;
    border-radius: 14px 14px 0 0;
}
        
.nouvo {
    position: absolute;
    margin-top: -351px;
    left: 91%;
    background-color: #99e2d0;
    color: green;
    padding: 8px;
}

.card-titre {
    position: relative;
    bottom: 79px;
    left: 34px;
}

.card-text {
    position: relative;
    bottom: 95px;
    left: 34px;
}

.fa-regular.fa-heart {
    position: relative;
    bottom: 128px;
    left: -3%;
    font-size: 29px;
}

    /*FOOTER*/

.fa-regular.fa-hearticon {
    position: relative;
    left: 40px;
}

.footer {
    width: 100%;
    height: 13rem;
    background-color: #353535;
    position: relative;
    top: 0;
}

.logo2 {
    font-family: 'Shrikhand', sans-serif;
    color: white;
    font-size: 25px;
    position: relative;
    top: 9px;
    left: 11px;
}

.text-footer {
    color: white;
}

.fa-solid.fa-utensils, .fa-solid.fa-handshake-angle {
    position: relative;
    top: 21px;
    left: 13px;
}

.fa-regular.fa-hearticon {
    position: relative;
    left: 40px;
}

.text, .mail {
    margin: 10px;
    position: relative;
    top: 21px;
    left: 10px;
}

.mail {
    color: inherit;
    text-decoration: none;
}
    
       /*MOBILE*/
 
@media screen and (max-width:768px) {
 
 /*SECTION 1*/
 
ul {
    padding: 42px;
    position: relative;
    right: 22px;
    margin: 0;
    bottom: -7px;
}

li {
    background-color: #f6f6f6;
    padding: 25px;
    width: 84%;
    border-radius: 24px;
    padding-left: 60px;
    margin-top: 19px;
    height: 27px;
    box-shadow: 6px 6px 6px grey;
}

li:active {
    transform: scale(1);
    background-color: rgba(147, 86, 220, 0.1);
   
}
    
.conteneur:active .conteneur--logo {
    color: #9356dc;
}

.rechercher h2 {
    margin-top: 26px;
    font-size: 22px;
    width: 61%;
    font-weight: bold;
}

    /*SECTION 2*/

.cards {
    background-color: white;
    width: 92%;
    position: relative;
    left: 17px;
    height: 271px;
    border-radius: 15px;
    margin-top: -105px;
    }

.gout, .enchante, .francaise, .sens {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    margin: 1px;
    margin-top: 0px;
    border-radius: 14px 14px 0 0;
}

.fa-regular.fa-heart {
    position: relative;
    bottom: 130px;
    left: -31px;
    font-size: 30px;
}

.fa-regular.fa-heart.coeur--2 {
    position: relative;
    left: -8.1%;
}
        
.fa-regular.fa-heart.coeur--3 {
    position: relative;
    left: -7.51%;
}

.nouvo {
    position: absolute;
    margin-top: -255px;
    left: 267px;
    background-color: #99e2d0;
    color: green;
    padding: 8px;
}

.resto {
    background-color: #f6f6f6;
    height: 1322px;
}        

      /*ANIMATION-LOADING*/

.custom-loading-spinner::after {
    position: relative;
    left: 43%;
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 4px solid #ff59da;
    border-bottom: 4px solid #ff59da;
    border-left: 3px solid lightseagreen;
    border-right: 3px solid lightseagreen;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: custom-loading 1s linear infinite;
}

/*COEUR-ANIMATION*/

.fas.fas.fa-heart {
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition-duration: 0.25s;
    position: relative;
    bottom: 160.5px;
    left: 83.49%;
    font-size: 31.7px;
  }
  .fas.fa-heart:active{
    opacity: 1;
  }

  .fas.fa-heart.coeur--25 {
    bottom: 160.8px;
    left: 83.6%;
  }
  
  .fas.fa-heart.coeur--25:active {
    opacity: 1;
  }
  
  .fas.fa-heart.coeur--35:active{
    opacity: 1;
}
  
  .fas.fa-heart.coeur--35 {
    bottom: 160.9px;
    left: 84.2%;
  }
    
}

